#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);        
    display: flex;
    opacity: 0;
    z-index: -1;
    transition: .5s;
    &.overlay-show {
        z-index: 999;
        opacity: 1;
    }
}
.form {
    margin: auto;
    color: $redLight;
    position: relative;
    .info_block {
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
    }
}

form {
    border: 1px solid $redLight;
    padding: 7px 14px;
    background: #000;
    input {
        box-sizing: border-box;
        width: 100%;        
        margin: 7px 0;
        background: #000;
        padding: 10px 7px;
        border: 1px solid $redLight;
        color: #fff;
        &::placeholder {
            color: $yellow;
            font-size: 16px;
        }
    }
    textarea {
        box-sizing: border-box;
        margin: 7px 0;
        resize: vertical;
        width: 100%;
        background: #000;
        padding: 3px 7px;
        border: 1px solid $redLight;
        min-height: 150px;
        color: #fff;
        &::placeholder {
            color: $yellow;
            font-size: 16px;
        }
    }
    .form-group {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
    button[type="submit"], 
    input[type="submit"] {
        border: none;
        background: $redLight;
        width: 150px;
        height: 35px;
        border-radius: 3px;
        font-size: 18px;
        cursor: pointer; 
        transition: .4s;
        &:hover {
            background: #bc1f2f;
            color: #fff;
        }
    }
    .info {
        font-size: 20px;
    }
}

.close {
    position: absolute;
    right: -35px;
    top: -35px;
    width: 32px;
    height: 32px;    
    cursor: pointer;
    &:hover::before,
    &:hover::after {
        background-color: #fff;
    }
    &:before,
    &:after {
        content: ' ';
        position: absolute;
        left: 15px;
        height: 33px;
        width: 2px;
        background-color: $redLight;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}