header {
    background: #000;
    position: relative;
}
.header {
    padding: 60px 0 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;    
    .header__logo {
        img {
            max-width: 300px;
            display: block;
            margin: 0 auto;
        }
    }
    .header__phone {
        border-bottom: 6px solid #f23a4e;
        color: #f23a4e;
        font-size: 5em;
        text-align: left;
        font-family: sans-serif;
        width: 32%;
    }

    .header__contacts {
        border-bottom: 6px solid #f8db3c;
        color: #f8db3c;
        font-size: 28px;
        width: 32%;
        padding-bottom: 15px;        
    }
}

.plus {
    background: url(../img/plus.png) center/cover no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

$menu_1: #f8db3c;
$menu_2: #e76941;
$menu_3: #e51c48;
$menu_4: #a81050;

.menu,
.menu-mobile {
    margin-bottom: 20px;
    ul {
        display: flex;
        justify-content: space-around;
        color: #fff;
        list-style: none;
    }
    li {
        a {
            padding: 7px 0;
            display: block;
            font-size: 26px;
            min-width: 200px;
            text-align: center;
        }
        border: 1px solid #fff;
        transition: .4s;
        &:nth-child(1) {
            @include setColor($menu_1);
            &:hover {
                background: $menu_1;
                color: #fff;
            }
        }
        &:nth-child(2) {
            @include setColor($menu_2);
            &:hover {
                background: $menu_2;
                color: #fff;
            }
        }
        &:nth-child(3) {
            @include setColor($menu_3);
            &:hover {
                background: $menu_3;
                color: #fff;
            }            
        }
        &:nth-child(4) {
            @include setColor($menu_4);
            &:hover {
                background: $menu_4;
                color: #fff;
            }            
        }
    }
    li.active {
        &:nth-child(1) {
            background: $menu_1;
            color: #fff;
        }
        &:nth-child(2) {
            background: $menu_2;
            color: #fff;
        }
        &:nth-child(3) {
            background: $menu_3;
            color: #fff;
        }
        &:nth-child(4) {
            background: $menu_4;
            color: #fff;
        }
    }
    
}

.header_bottom_bg {
    background: url(../img/header_bottom_bg.png) no-repeat;
    height: 20px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: -1px 30%;
    z-index: 101;
}