.menu-mobile {
    display: none;
}

@media (max-width: 1250px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 1200px) {
    .header {
        .header__phone {
            font-size: 4em;
            border-bottom-width: 5px;
        }
        .header__contacts {
            font-size: 22px;
            border-bottom-width: 5px;
        }
        .header__logo img {
            max-width: 260px;
        }
    }
    .plus {
        width: 30px;
        height: 30px;
    }
    .menu {
        li a {
            font-size: 22px;
        }
    }
}


@media (max-width: 1050px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 992px) {
    .menu {
        display: none;
    }
    .menu-mobile {
        display: block;        
        .menu_title {            
            max-width: 150px;
            margin: 0 auto;
            padding: 7px 0;            
            text-align: center;
            text-transform: uppercase;
            font-size: 20px;
            border: 1px solid $menu_2;
            box-shadow: 0 0 10px $menu_2;
            transition: .4s;
            @include setColor($menu_2);
            &:hover {
                background: $menu_2;    
                color: #fff;        
            }
        }
        ul {
            display: block;      
            padding: 0;             
            li {
                margin: 10px 0;
            }
        }
    }
    .sidebarMobile {
        padding: 20px;
        box-sizing: border-box;
        height: 100%;
        width: 300px;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        box-shadow: 5px 0 10px rgb(41, 41, 41);
        transform: translateX(-100%);
        transition: .5s;
        &.active {
            transform: translateX(0);
        }
        .close {
            top: 5px;
            right: 0;
            &:before, &:after {
                height: 23px;
                background-color: #e76841;
            }
        }
    }
    .mobile-logo {
        max-width: 80%;
        margin-bottom: 40px;     
    }
    .header {
        .header__contacts {
            width: 28%
        }
        .header__phone {
            width: 28%;
        }
    }
}

@media (max-width: 768px) {
    .table, .tablepress {
        thead {
            display: none;
        }
        tbody {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        tr {
            border: none;
            display: block;
            width: 45%;
            margin-bottom: 20px;
            box-shadow: 1px 1px 8px #e65c5c;
        }
        td {
            border: 1px solid #a81050 !important;
            border-bottom-width: 0 !important;
            display: block;
            text-align: right;
            padding: 0 10px;
            font-size: 18px;
            &:last-child {
                border-bottom-width: 1px !important;
            }
            &:after {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            }
        }
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
        .header__logo {
            width: 100%;
            order: 1;
        }
        .header__contacts,
        .header__phone {
            order: 2;
            text-align: center;
            width: 55%;
            margin: 20px 0;
        }
    }
    .form {
        max-width: 400px;
    }
}

@media (max-width: 600px) {
    .table, .tablepress {
        tr {
            width: 90%;
        }
    }
    .form {
        max-width: 85%;
    }
}