@mixin setColor($color) {
    color: $color;
    border-color: $color;
}

@font-face {
	font-family: 'FbPractica-Regular';
	src: url('../fonts/FbPractica-Regular.eot');
	src: local('☺'), url('../fonts/FbPractica-Regular.woff') format('woff'), url('../fonts/FbPractica-Regular.ttf') format('truetype'), url('../fonts/FbPractica-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    direction: rtl;
    box-sizing: border-box;
}

body {    
    font-family: 'FbPractica-Regular';
}

.container {
    max-width: 1170px;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 26px;
}

@import 'header';

.h1 {
    font-size: 3em;
    color: #a60350;    
    text-align: center;
    overflow: hidden;
    &:before {
        content: '';
        background: url(../img/right-line.png) center/cover no-repeat;
        width: 40%;
        height: 6px;
        display: inline-block;
        vertical-align: middle;
        margin-right: -40%;
        border: solid transparent;
        border-width: 0 20px;
    }
    &:after {
        content: '';
        height: 6px;
        background: url(../img/left-line.png) center/cover no-repeat;
        width: 40%;
        height: 6px;
        display: inline-block;
        vertical-align: middle;
        margin-left: -40%;
        border: solid transparent;
        border-width: 0 20px;
    }
}

$yellow: #f8d331;
$orange: #e76941;
$red: #ef3745;
$violet: #a81050;
$redLight: #f43a4d;
.table, .tablepress {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 26px;
    border-spacing: 0 8px;
    th {
        color: #a81050;
        font-size: 26px; 
        font-weight: 400;               
    }    
    tbody tr {        
        td {
            border: 1px solid #a81050;
            border-right-width: 0;
            border-left-width: 0;
            &:first-child {
                border-right-width: 1px;
            }
            &:last-child {
                border-left-width: 1px;
            }
        }
        color: #404040;
        /* &:nth-child(5n+1) {
            @include setColor($yellow);            
        }
        &:nth-child(5n+2) {
            @include setColor($orange);            
        }
        &:nth-child(5n+3) {
            @include setColor($red);
        }
        &:nth-child(5n+4) {
            @include setColor($violet);
        }
        &:nth-child(5n+5) {
            @include setColor($redLight);
        } */
    }
}

.full-img {
    width: 100%;
    display: block;
    margin: 5px auto 10px;
}

.white {
    background: #fff;
}
.black {
    background: #000;
}
.p-b {
    padding-bottom: 80px;
}
.p-t {
    padding-top: 30px;
}
.bg {
    background: #fff url(../img/bg.png) center center/cover no-repeat;
}
.bg2 {
    background: #fff url(../img/bg2.png) center 50%/cover no-repeat;
}
.vh100 {
    min-height: 100vh;
}
.m-b {
    margin: 20px 0;
} 

.info {
    display: flex;
    flex-direction: row-reverse;
    font-size: 30px;
    margin: 20px 0;
    .info__item {
        width: 50%;        
        &.marginAuto {
            display: flex;
            flex-direction: row-reverse;
        }
    }
    .item {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin: 30px 0;
        &__title {
            width: 50%;
        }
        &__description {
            width: 50%;            
            font-weight: 600;
        }        
    }
}
.order {
    margin: auto;
    display: block;
    background: #c01b3f;
    color: #fff;
    border: 1px solid #000;
    font-size: 32px;
    padding: 7px 20px;
    transition: .4s;
    &:hover {
        background: #97122f;
    }
}

.youtube {
    width: 60%;
    height: 350px;
    display: block;
    margin: 20px auto;
    border: 4px solid #a60350;
}

.yellow {
    color: #f8db3c;
}

/*****************/
@import 'form';

@import 'media';